".source.gfm":
  'Cocoons Jumbotron widget':
    'prefix' : 'cc-jumbotron'
    'body' : """

    ```widget
    { "name" : "jumbotron.jade",
      "properties" : {
        "title" : "${1:Title}",
        "leads" : ["${2:subtitle-1}","${3:subtitle-2}"],
        "link"  : {"href" : "${4:url}", "anchor" : "${4:anchor text  »}"}
      }
    }
    ```
"""
