".source.gfm":
  'Cocoons Markdown Table':
    'prefix' : 'cc-table'
    'body' : """
      | col1        | col2           | Col 3  |
      | ------------- |:--------------:| -----:|
      | col 3 is      | right-aligned | 1600 |
      | col 2 is      | centered      |   12 |
      | zebra stripes | are neat      |    1 |
"""
